p {
    font-size: 21px;
}

li {
    font-size: 20px;
}
body {
  font-family: 'Gothic A1', sans-serif;
  font-size: medium;
}


#table tr:hover {
    background-color: rgba(240, 136, 33, 0.4) !important;
  }


table.dataTable tbody tr:nth-child(even) {background-color: #F5F5F6 !important;}
table.dataTable tbody tr:nth-child(odd) {background-color: #E6E7E8 !important;}



.leaflet-container {
    background: #ffffff; 
    border-color: #000000;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #7e7e7e;
    }

.map_selector_1-selected_locations-label {
  color: #002B5F;
}

#tbl {outline:#dddddd solid 1px;}

.navbar-default {
  background-color: #002B5F; /*#2fa4e7;*/
  border-color: #002B5F; /* #1995dc*/
  background-image: linear-gradient(#00438fd2, #002B5F 60%, #002552); /*linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);*/
  background-repeat: no-repeat;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
  /*--bs-navbar-padding-y: .2rem;*/
  font-size: 18px;
  /* position: fixed; */
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 10px;
  
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #000000; 
  background-color: #00B7A3;
  /*
  margin-top: -2px;
  padding-bottom: calc(0.5rem + 2px)
  */
  margin-top: -7px;
  padding-bottom: 7px;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
  margin-top: -2px;
  padding-bottom: calc(0.5rem + 2px);
  font-size: 18px;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus {
  color: #000000; 
  background-color: #00B7A3;
  margin-top: -7px;
  padding-bottom: 7px;
  
}

.disabled {
  /*
  background: #819898 !important;
  cursor: not-allowed;
  border-color:#819898;
  color: #737373;
*/
  color: #ffffff;
  cursor: not-allowed;  
  background-color: transparent;
  font-size: 18px;
}

.html-fill-container>.html-fill-item.bslib-mb-spacing {
  margin-bottom: 20px;
  margin-top: 40px;
}

.bslib-grid>*{
  margin-top: -60px;
}
/* .main, .bslib-gap-spacing, .html-fill-container{
  margin-top: 20px;
} */
/* .bslib-sidebar-5766{
  margin-top: 40px;
}
.bslib-sidebar-8778 {
  margin-top: 40px;
} */
.navbar-default .navbar-nav>li>a:hover {
  color: #cecece;
  background-color: transparent;
}
.bslib-sidebar-layout, .bslib-mb-spacing, .html-fill-item {
  --_sidebar-width: 40%;
  --_js-toggle-count-this-side: 0;
  --_js-toggle-count-max-side: 1;
  margin-top: 50px;
}
.panel-primary {
  border-color: #ffffff;
}
.panel-primary>.panel-heading {
  color: #ffffff;
  background-color: #9AC2B7; /* #2fa4e7  #AEC640*/
  border-color: #dddddd;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 0px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

#logo {
  height: auto;
  width: 70% !important;
  margin-top: 10px;
  margin-bottom: -65px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.btn-default {
  color: #ffffff;
  background-image: linear-gradient(#009e8c, #00B7A3 60%, #00d1ba); /*linear-gradient(#f69371, #F15D2A 50%, #f69371)   #bad5ce, #9AC2B7 50%, #bad5ce*/
  background-repeat: no-repeat;
  background-color: #017c6e;
  border-color: rgba(0,0,0,0.1);
  border-bottom: 1px solid #e6e6e6;
  font-size: 1em;      /* Adjust font size */
}

.btn-close-card {
  position: absolute; 
            top: 10px; 
            right: 10px; 
            border: none; 
            background-color: transparent;
            font-size: 1em;      /* Adjust font size */
            width: 1.1em;           /* Adjust button width */
            height: 1.1em;          /* Adjust button height */
            padding: 0;            /* Remove padding */
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 26px;
  height: 26px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
  transition: 1s opacity 200ms;
  /*position: relative;
  top: 4px;

  border: 0px;
  width: 100%;
  height: 2em;*/
}
input[type=radio]:checked {
  /*border: 10px solid #f15d2a;*/
  border: 10px solid #00B7A3;
  outline: unset !important /* I added this one for Edge (chromium) support */
}



.hovertext {
  position: relative;
  
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;

  position: absolute;
  z-index: 1;
  /*left: 0;
  top: 110%;*/
  top: -5px;
  left: 105%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

/* .Reactable, .ReactTable {
  margin-top: 40px;
} */
.dataTables_wrapper {
  position: relative;
  clear: both;
  background-color: #99AABF;
}


caption {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  color: #112247;
  text-align: left;
}


.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E6E7E8;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
/*
@media(max-width:1000px)  {

  .navbar-collapse.collapse {
      display: none !important;
  }

  .navbar-collapse {
      overflow-x: visible !important;
  }

  .navbar-collapse.in {
    overflow-y: auto !important;
  }

  .collapse.in {
    display: inline-block !important;
  }
  .dropdown-toggle {
    display: inline-block;
  }

}
@media (max-width: 990px) {
  .navbar-header {
      float: none;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin: 7.5px -15px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);
}*/


.tree {
  position: relative;
  background: white;
  margin-top: 20px;
  padding: 30px;
  font-family: 'Roboto Mono', monospace;
  font-size: .85rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  
  span {
    font-size: 13px;
    font-style: italic;
    letter-spacing: .4px;
    color: #a8a8a8;
  }
  
  .fa-folder-open, .fa-folder {
    color: #007bff;
  }
  
  .fa-html5 {
    color: #f21f10;
  }
  
  ul {
    padding-left: 5px;
    list-style: none;
    
    li {
      position: relative;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      
      &:before {
        position: absolute;
        top: 15px;
        left: 0;
        width: 10px;
        height: 1px;
        margin: auto;
        content: '';
        background-color: #666;
      }
      
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1px;
        height: 100%;
        content: '';
        background-color: #666;
      }
      
      &:last-child:after {
        height: 15px;
      }
    }
    
    a {
      cursor: pointer;
      
      &:hover {
        text-decoration: none;
      }
    }
  }
}



.card-header {
  background-color: #CCF1ED;
  padding-bottom: 0%;
}

.card-body {
  color: #b0b0b0;
  background-color: #E6E7E8;
}